<h1>マイページ</h1>
<h3>user name : </h3><%= @user.display_name %>
<h4>氏名      : </h4><%= @user.user_name %>
<h4>メールアドレス: </h4><%= @user.email %>
<br>
<% if logged_in? %>
  <%= link_to 'ログアウト', logout_path, method: :delete %>
<% end %>
