/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 */

@import "bootstrap";

html .app-body {
	height: 100%;
	background-color: #E1F3FB;
}
body .nav-top{
    display: table;
    width: 100%;
    text-align: center;
}
.nav-item .nav-item{
    display: table-cell;
    min-width: 100px;
}
ul li .nav-link{
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 15px auto;
    text-decoration: none;
    color: #555;
    font-weight: bold;
    letter-spacing: .1em;
}
ul li.current{
    background-color: #DEEBF7;
}
ul li.current a{
    color: #555;
}
ul li:hover{
    background-color: #FFF2CC;
}
.app_title {
	text-align: center;
	font-family: "bookman old style";
	font-size: 100px;
	color: #ffffff;
}
.app_overview {
	text-align: center;
	font-family: "bookman old style";
	font-size: 30px;
	color: #ffffff;	
}
.content-body {
	border: 1px solid #AAA;
	width: 70%;
	margin: auto;
	padding: 15px;
}
.regist_form {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
.form-text {
	text-align: right;
}
.container {
	height: 100%;
}
.middle-layer {
	height: 100%;
	/*background-color: rgba(255,255,255,0.5);*/
}


